
@font-face {
    font-family: 'font-icones';
    src: url('font/Social-Media-Circled.otf') format('opentype');
}
body{
    margin-top:50px;
    margin-bottom: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Caladea', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Ubuntu', sans-serif;
    border-style: double;
    border-width: 10px;
    padding: 40px;
    max-width: 1200px ;
}
.foto{
    border-radius: 15px;
    border: solid rgba(0, 0, 0, 0.747);
}
.foto:hover{
    width: 350px;
    box-shadow: 0 0 15px black;
}
header{
    text-align: center;
}
h1 {
    text-align: center;
}
.centro {
    text-align: center;
}
.boxicones{
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
    height: 70px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.redes {   
    display: inline-flex;
    font-family: 'font-icones';
    font-size: 30px;  
}
.icones {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    font-size: 35px;
    color: black;
}
.icones:hover{
    font-size: 50px;
    color: black;
    border-radius: 150%;
}
p {
    margin-left: 60px;
}
em{
    font-size: 18px;
    font-style: italic;
}
.boxhoteis{
    padding-left: 0;
}
.hoteis{
    text-align: left;
    border-left:solid;
    padding-left: 10px;
}
.boxfinanceiro{
    padding-left: 0;
}
.financeiro{
    text-align: left;
    border-left:solid;
    padding-left: 10px;
}
li {
    margin-left: 60px;
}
/*celulares*/
@media (max-width:450px){
    body {
        width: 400px;
        margin: 15px;
        border-style:double;
        display:inline-block;
        padding: 0px;
        text-align: center;
    }
    header {
        margin-top: 20px;
    }
       
    .foto {
        width: 100px;
        text-align: center;
    }
    h1 {
        margin-top: 20px;
        font-size:x-large;
        border:0;
        padding: 0;
    }
    .centro{
        font-size: small;
        margin-left: 20px;
        margin-right: 20px;
    }
    div {
        padding: 0;
    }
    h2 {
        text-align:left;
        margin-left: 30px;
        font-size: large;
    }
    p {
        text-align: left;
        margin-right: 30px;
        font-size:small;
    }
    li {
        text-align: left;
        margin-right: 30px;
        font-size: small;
    }

}
/* galaxie s10 */
@media (max-width:375px){
    body {
        width: 330px;
        display: inline-block;
    }
    h1 {
        font-size: x-large;
        margin-top: 10px;
    }
    .centro{
        font-size: small;
    }
    .redes {
        margin: 0px 10px;
    }
    .icones{
        width: 15px;
    }
    h2 {
        margin-left: 20px;
    }
    p {
        margin-left: 40px;
    }
    li {
        margin-left: 40px;
    }
}
/*tablets*/
@media (min-width:768px) and (max-width:1080px){
    body {
        margin: 40px 50px;
    }
    .foto {
        width: 250px;
    }
    h1 {
        font-size:40px;
    }
    .centro {
        font-size: large;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: large;
    }
    li {
        font-size: large;
    }
}