/*---------- BASE ----------*/
@font-face {
    font-family: "Ionicons";
    src: url(https://static.weg.net/news/fonts/ionicons/ionicons.eot?v=1.5.2);
    src: url(https://static.weg.net/news/fonts/ionicons/ionicons.eot?v=1.5.2#iefix) format("embedded-opentype"),url(https://static.weg.net/news/fonts/ionicons/ionicons.ttf?v=1.5.2) format("truetype"),url(https://static.weg.net/news/fonts/ionicons/ionicons.woff?v=1.5.2) format("woff"),url(https://static.weg.net/news/fonts/ionicons/ionicons.svg?v=1.5.2#Ionicons) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'FontAwesome';
    src: url(https://static.weg.net/news/fonts/fontawesome/fontawesome-webfont.eot?v=4.2.0);
    src: url(https://static.weg.net/news/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.2.0) format("embedded-opentype"),url(https://static.weg.net/news/fonts/fontawesome/fontawesome-webfont.woff?v=4.2.0) format("woff"),url(https://static.weg.net/news/fonts/fontawesome/fontawesome-webfont.ttf?v=4.2.0) format("truetype"),url(https://static.weg.net/news/fonts/fontawesome/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: auto;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #595959;
}
section{
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
header{
    margin-bottom: 10px;
    line-height: 22px;
}
div{
    margin:10px 0;
}
p{
    margin: 5px 0;
}
ul{
    margin: 10px 20px;
}
h1, h2, h3{
    font-family: "Roboto", sans-serif;
    color: #00579d;
    line-height: 44px;
    margin: 0 0 20px;
    font-size: 38px;
    font-weight: 300;
    line-height: 1.42857;
}
a{
    text-decoration: none;
    color: rgb(0, 177, 64);
    border-bottom: solid 2px rgb(0, 177, 64);
}
li::marker{
    color: #00579d;;
}
strong{
    color: #00579d;
}


/*---------- LAYOUT ----------*/
.l-section{
    max-width: 800px;
}
h3::after, h2::after{
    background-color: #64c3d5;
    content: "";
    display: block;
    height: 2px;
    margin-top: 21px;
    width: 48px;
}
.box-icons{
    display: none;
    flex-direction: row;
}
.redes{
    padding: 10px;
}
.formacao li{
    margin-bottom: 7px;
}
.formacao li{
    margin-bottom: 7px;
}
.box-img{
    width: fit-content;
    border-left: solid 2px  #00579d;
    border-bottom: solid 7px  #00579d;
}
.foto-perfil{
    margin-left: -25px;
    width: 250px;
    height: auto;
}
.experiencias li{
    margin-bottom: 15px;
}
.text-exp{
    padding-left: 10px;
}
.border-left{
    border-left: solid 1px #00579d;
    padding-left: 10px;
}
.financeiro p{
    margin-bottom: 20px;
}
/*---------- MODULE ----------*/

/*---------- STATE ----------*/
a:visited {
    color: rgb(0, 177, 64); /* Mantém a mesma cor mesmo após o clique */
  }

/*---------- THEME ----------*/